<footer class="py-5">
  <div class="container">
    <div class="row" style="display: none;">
      <div class="col col-2">
        <ul class="list-unstyled text-small">
          <li class="mb-4"><a class="text-muted" href="#roadmap">Contract</a></li>
          <li class="mb-4"><a class="text-muted" href="#tokenomics">Branding</a></li>
          <li class="mb-4"><a class="text-muted" href="#buy">Whitepaper</a></li>
        </ul>
      </div>
      <div class="col col-2">
        <ul class="list-unstyled text-small">
          <li class="mb-4"><a class="text-muted" href="#roadmap">Terms of Service</a></li>
          <li class="mb-4"><a class="text-muted" href="#tokenomics">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col col-8" style="display: none;">
        <div class="row">
          <div class="col col-3 text-center">
            <h4>0</h4>
            <span>Holders</span>
          </div>
          <div class="col col-3 text-center">
            <h4>0</h4>
            <span>Transactions</span>
          </div>
          <div class="col col-3 text-center">
            <h4>0</h4>
            <span>Tokens Burned</span>
          </div>
          <div class="col col-3 text-center">
            <h4>0</h4>
            <span>Liquidity</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="social col col-3 mt-5">
        <ul class="d-flex flex-column flex-md-row justify-content-between">
          <li><a target="_blank" href="">
              <img src="assets/svg/social/telegram.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/twitter.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/instagram.svg">
            </a></li>
          <li><a target="_blank" href="" class="text-muted">
              <img src="assets/svg/social/discord.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/reddit.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/github.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/youtube.svg">
            </a></li>
          <li><a target="_blank" href="">
              <img src="assets/svg/social/medium.svg">
            </a></li>
        </ul>
      </div>
      <div id="google_translate_element"></div>
    </div>
  </div>
</footer>